<h1><%= @me.name%></h1>
<img src="/assets/kyle.jpg" id="kyle_pic">
<p id="home"><span class="category">Hometown:</span> <%= @home%></p>
<p><span class="category">Year:</span> <%= @year%></p>
<span class="category">Fact:</span>
	<strong><%= @fact%></strong> and <u>I am looking forward <%= @excited%></u>